.header {

    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 17px;
        // border-bottom: 1px solid #BFBDB2;
            &::after {
                content: '';
                position: absolute;
                display: block;
                bottom: 0;
                left: 48px;
                right: 48px;
                width: 1216px;
                height: 1px;
                background-color: #BFBDB2;
            }
    }

    &__logo {
    }

    &__navigation {
        flex-grow: 1;
        justify-content: flex-end;
        display: flex;
        margin-right: 54px;

            @include md {
                display: none;
            }

    }

    &__link {
    }
}
.container {
    
    @include smd {
        padding: 0 24px;
    }
}
.navigation {

    &__list {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    &__item {
    }

    &__link {
        color: #F6F3E3;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;

    }
}
.main-link {
    display: inline-block;
    color:  #241D1C;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    background-color: #F6F3E3;
    padding: 13px 46px;
    border-radius: 4px;

        &:hover:not(:focus, :disabled) {
            background-color: #EFE7BE;
            transition: background-color .3s ease-out;
          }

        &:focus-visible {
            outline: 1px solid #FFF;
        }

        &:disabled {
            opacity: 0.4;
        }

        @include smd {
            font-size: 12px;
            padding: 10px 24px;
        }
}
