.header {



    &__container {
        // position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 17px;
        border-bottom: 1px solid #BFBDB2;
            // &::after {
            //     content: '';
            //     position: absolute;
            //     display: block;
            //     bottom: 0;
            //     left: 48px;
            //     right: 48px;
            //     width: 1216px;
            //     height: 1px;
            //     background-color: #BFBDB2;
            // }

            @include sm {
                padding-top: 12px;
                padding-bottom: 12px;
            }
    }

    &__navigation {
        flex-grow: 1;
        justify-content: flex-end;
        display: flex;
        margin-right: 54px;

            @include md {
                display: none;
            }

    }

    &__link {
    }
}