.hero {
    padding: 62px 0;

        @include md {
            font-size: 40px;
            margin-bottom: 24px;

            @include sm {
                font-size: 24px;
                margin-bottom: 12px;
                max-width: 420px;
            }
        }

    &__title {
        max-width: 904px;
        font-size: 54px;
        line-height: 1.2;
        text-transform: uppercase;
        margin-bottom: 36px;

        @include lg {
            margin-bottom: 31px;
            @include md {
                font-size: 40px;
                margin-bottom: 42px;
                @include sm {
                    font-size: 24px;
                    margin-bottom: 12px;
                }
        }


        }
    }

    &__text {
    }

    &__slider {
    }

    @include md {
        padding: 40px 0;

        @include sm {
            padding: 32px 0;
        }
    }
}
