
.radio {

    &__input {
        display: none;
        position: absolute;
        appearance: none; //скрыть точки radio

        // фокус будет делаться на input а применятся для label:
        &:focus + .radio__label,
        &:checked + .radio__label {
            color: #241D1C;
            background-color: #F6F3E3;
        }

        &:disabled + .radio__label {
            opacity: 0.3;
        }
    }

    &__label {
        display: inline-block;
        padding: 16px 24px;
        border-radius: 36px;
        border: 1px solid #BFBDB2;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        // margin-bottom: 8px;
        cursor: pointer;

            &:hover:not(disabled){
                color: #EFE7BE;
            }
            @include md {
                padding: 12px 16px;
                font-size: 12px;
            }

        &_professional  {
            position: relative;
            padding-left: 52px;

                    &::before {
                        content: '';
                        position: absolute;
                        left: 8px;
                        top: 50%;
                        transform: translateY(-50%);
                        display: block;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background-image: var(--bg-image);
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

            @include md {
                padding-left: 40px;

                &::before {
                    content: '';
                    left: 8px;
                    width: 24px;
                    height: 24px;

                }
            }
        }
    }
}